.r{
    text-align: center;
    color: rgba(234, 5, 5, 0.793);
    background-color: rgb(16, 183, 16);
}
.s{
    width: 1100 px;
    height: 500px;
}
.w{
    color: rgb(255, 251, 0)

    ;
}
.h{
    color: blue;
}
